<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="layui/css/layui.css">
    <title>我的购物车</title>
    <style>
        .layui-table-cell {
            height: 100px;
        }
    </style>
</head>

<body>
<div class="show">
    <input type="hidden" id="userid">
    <input type="hidden" id="arr">
    <input type="hidden" id="type">
    <div class="head">
        <a>欢迎你,</a>
        <a class="username" href=""></a>&nbsp;|
        <a href="">注销</a>

        <div class="part2">

        </div>
        <a href="" class="index">
            <i class="layui-icon">&#xe68e;</i>
            首页</a>&nbsp;&nbsp;
        <a href="" class="index">
            <i class="layui-icon">&#xe770;</i>
            个人中心</a>&nbsp;&nbsp;
        <a href="" class="index">
            <i class="layui-icon">&#xe657;</i>
            购物车</a>&nbsp;&nbsp;
        <a href="">
            <i class="layui-icon">&#xe626;</i>
            在线客服</a>&nbsp;&nbsp;
        <a href="">
            <i class="layui-icon">&#xe7ae;</i>
            关于我</a>&nbsp;&nbsp;
    </div>

    <div class="main" style=" height: 1000px;">
        <table class="layui-hide" id="test" lay-filter="test"></table>
        <div style="margin-left: 800px;">
            <button id="pay"
                    style="width: 150px;height: 50px;text-align: center; font-size: 20px; font-weight: 700;background: #f52b00;color: #fff; text-align: center;">
                去付款
            </button>
        </div>
    </div>
</div>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">删除选中商品</button>
    </div>
</script>
</body>
<script src="js/jquery-3.4.1.min.js"></script>
<script src="layui/layui.all.js"></script>
<script type="text/javascript">
    $(function () {
        getLoginUser();
        $("#add").click(function () {
            var i = $("#num").val();
            i++;
            $("#num").val(i)
        });

        $("#del").click(function () {
            var i = $("#num").val();
            i--;
            if (i < 1) {
                return false;
            }
            $("#num").val(i)
        });
        getTable($("#userid").val());
    });

    function getLoginUser() {
        $.ajax({
            type: 'get',
            url: 'user/getLoginUser',
            async: false,
            success: function (res) {
                $(".username").html(res.data.username);
                $("#userid").val(res.data.id);
            }
        })
    }

    function getTable(id) {
        layui.use('table', function () {
            var table = layui.table;
            table.render({
                elem: '#test'
                , url: 'car/getCarTableVo?id=' + id
                , toolbar: '#toolbarDemo'
                , title: '用户数据表'
                , response: {
                    dataName: 'list'//修改layui封装的参数名limit->size
                }
                // , totalRow: true
                , cols: [
                    [
                        {type: 'checkbox', fixed: 'left'}
                        , {field: 'itemLogo', title: '图片', width: 150, fixed: 'left',}
                        , {field: 'itemName', title: '名称', width: 200}
                        , {field: 'itemNumCss', title: '数量(件)', width: 150, sort: true}
                        , {field: 'itemPrice', title: '单价(元)', width: 130, sort: true}
                        , {field: 'itemTotal', title: '总价格(元)', fixed: 'right', width: 130, sort: true}

                    ]
                ]
                , page: false
            });
            var arrTrue = [];
            table.on('checkbox(test)', function (obj) {
                // console.log(obj.checked); //当前是否选中状态
                // console.log(obj.data.id); //选中行的相关数据
                // console.log(obj.type); //如果触发的是全选，则为：all，如果触发的是单选，则为：one
                if (obj.type == "one") {
                    if (obj.checked == true) {
                        arrTrue.push(obj.data.id)
                    }
                    if (obj.checked == false) {
                        for (i = 0; i < arrTrue.length; i++) {
                            if (arrTrue[i] == obj.data.id) {
                                arrTrue.splice(i, 1)
                            }
                        }
                    }
                }
                if (obj.type == "all") {
                    if (obj.checked == true) {
                        $("#type").val("yes")
                    }
                    if (obj.checked == false) {
                        $("#type").val("no")
                    }
                }
                $("#arr").val(arrTrue);
                console.log($("#arr").val());
                console.log($("#type").val());
            });
        });
    }

    $("#pay").click(function () {
        if($("#type").val()=="yes" ||$("#arr").val()!=""){
            // $.ajax({
            //     type:'get',
            //     async: false,
            //     url:'car/changeCarToOrder',
            //     data:{
            //         ids:$("#arr").val(),
            //         type:$("#type").val()
            //     }
            // })
            location.href="car/changeCarToOrder?ids="+$('#arr').val()+"&type="+$("#type").val();
        }else
            alert("您还没选取任何商品");
    })
</script>
</html>