<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>用户登录</title>
<link rel="stylesheet" href="css/login.css">

</head>
<body>
	<div id="head">
		<div id="head_logo"></div>
	</div>
	<div id="middle">
		<form method="post">
			<table>
				<tr>
					<td id="logmsg">用户登录</td>
				</tr>
				<tr>
					<td id="alertmsg"></td>
				</tr>
				<tr>
					<td><input type="text" name="username" id="username"
						placeholder="请输入用户名"></td>
				</tr>
				<tr>
					<td id="space"></td>
				</tr>
				<tr>
					<td><input type="password" name="userpwd" id="userpwd"
						placeholder="请输入密码"></td>
				</tr>
				<tr>
					<td id="space"></td>
				</tr>
				<tr>
					<td><input type="button" name="ok" id="ok" value="登录"></td>
				</tr>
				<tr>
					<td id="space2"></td>
				</tr>
				<tr>
					<td><a href="forget">忘记密码</a>&emsp;<a href="signup">还没有账号？点此注册</a></td>
				</tr>
			</table>
		</form>
	</div>
	<div id="down">
		<hr>
		<a href="">关于本人</a>&emsp;|&emsp; <a href="">@Lezzy</a>&emsp;|&emsp; <a
			href="">@Gingost</a>&emsp;|&emsp; <a href="">SUSE</a>&emsp;|&emsp; <a
			href="">轻化工大学</a>
		<hr>
	</div>
	<div id="LezzyGingost">©2019-2020&emsp;最终著作权归Gingost/Lezzy所有</div>
</body>
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/jquery.validate.js"></script>
<script type="text/javascript">
	var flag;
	$(function() {
		$("#ok").on("click", singnin);
		flag = $("form").validate({
			onfocusout : function(element) {
				$(element).valid();
			},

			//errorElement : "span",
			errorPlacement : function(error, element) {
				error.appendTo($("#alertmsg"));
			},
			rules : {
				username : {
					required : true,
				},
				userpwd : {
					required : true,
				}
			},
			messages : {
				username : {
					required : "用户名不能为空",
				},
				userpwd : {
					required : "密码不能为空",
				}
			}
		});
	});
	function singnin() {

		var flagForm = flag.valid();
		if (flagForm == false) {
			alert("请检查输入信息")
		} else {
			$.ajax({
				type : "POST",
				url : "user/findOneUser",
				async : false,
				data : {
					username : $("#username").val(),
					password : $("#userpwd").val()
				},
				success : function(res) {
					if (res.code == 0) {
						location.href="index?Lezzy="+  Math.random();
					} else
						alert(res.msg)
				}
			});
		}
	}
</script>
</html>